<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Soap" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="duplexendpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63238/Service1.svc/~/duplex"
                binding="wsDualHttpBinding" bindingConfiguration="duplexendpoint"
                contract="ServiceReference1.IService2" name="duplexendpoint">
                <identity>
                    <userPrincipalName value="MAOZ-PC\Maoz" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:63238/Service1.svc/~/Soap"
                binding="basicHttpBinding" bindingConfiguration="Soap" contract="ServiceReference1.IService1"
                name="Soap" />
        </client>
    </system.serviceModel>
</configuration>